{% extends "base.html" %}

{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Welcome, {{ user.username }}</h1>
        <p>Here you can see your active games.</p>
      </div>
    </div>
	<div align="center" style="position:relative;margin-top:100px">
		{{ user }}

		{% for membership in memberships %}
			{% if membership.is_alive %}
				{{ membership.game.name }}
				{{ membership.current_target }}
				<form method="post">
					{% csrf_token %}
					{{ killed_username_form }}
					<input type="submit" value="Submit" />
				</form>
			{% else %}
				<form method="post">
					{% csrf_token %}
					<input type="submit" name="confirm" value="Confirm" />
					<input type="submit" name="deny" value="Deny" />
				</form>
			{% endif %}
		{% endfor %}
	</div>
{% endblock content %}
